

<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="UTF-8"/>
    <title>Luma: An Adobe demo brand</title>
    
    
    <meta name="template" content="hero-page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    

    
    
<link rel="canonical" href="/content/luma/us/en.html"/>

    

    

    
    
<link rel="stylesheet" href="/etc.clientlibs/weretail/clientlibs/clientlib-dependencies.css" type="text/css">
<script src="/etc.clientlibs/weretail/clientlibs/clientlib-dependencies.js"></script>



    
    
<link rel="stylesheet" href="/etc.clientlibs/clientlibs/granite/jquery-ui.css" type="text/css">
<link rel="stylesheet" href="/etc.clientlibs/core/wcm/components/search/v1/search/clientlibs/site.css" type="text/css">
<link rel="stylesheet" href="/etc.clientlibs/weretail/clientlibs/clientlib-base.css" type="text/css">






<script src="https://use.typekit.net/dje4ayd.js"></script>
<script>try {
    Typekit.load({async: true});
} catch (e) {
}</script>





<script type="text/javascript">
            (function() {
                window.ContextHub = window.ContextHub || {};

                /* setting paths */
                ContextHub.Paths = ContextHub.Paths || {};
                ContextHub.Paths.CONTEXTHUB_PATH = "/libs/settings/cloudsettings/legacy/contexthub";
                ContextHub.Paths.RESOURCE_PATH = "\/content\/luma\/us\/en\/_jcr_content\/contexthub";
                ContextHub.Paths.SEGMENTATION_PATH = "\/conf\/we\u002Dretail\/settings\/wcm\/segments";
                ContextHub.Paths.CQ_CONTEXT_PATH = "";

                /* setting initial constants */
                ContextHub.Constants = ContextHub.Constants || {};
                ContextHub.Constants.ANONYMOUS_HOME = "/home/users/t/tmf5kInGJChswlLpW_7y";
                ContextHub.Constants.MODE = "no-ui";
            }());
        </script><script src="/etc/cloudsettings.kernel.js/libs/settings/cloudsettings/legacy/contexthub" type="text/javascript"></script>




<script type="text/javascript">
window.digitalData = {
  "page": {
    "pageInfo": {
      "breadcrumbs": "luma:us:en",
      "pageShortName": "luma:[...]:en",
      "pageName": "content:luma:us:en",
      "destinationURL": "https://luma.enablementadobe.com/content/luma/us/en.html",
      "isIframe": false,
      "contentIframe": false,
      "hierarchie1": "luma:us:en",
      "title": "Luma: An Adobe demo brand",
      "internalPageName": "en",
      "pageID": "luma.enablementadobe.com:content:luma:us:en",
      "tagging": "",
      "server": "luma.enablementadobe.com",
      "urlShortcut": ""
    },
    "category": {
      "type": ":conf:we-retail:settings:wcm:templates:hero-page",
      "version": "2023-8-3"
    },
    "attributes": {},
    "components": []
  },
  "product": [
    {
      "productInfo": {}
    }
  ],
  "cart": {
    "productsInCart": 0
  },
  "user": [
    {
      "profile": [
        {
          "profileInfo": {},
          "attributes": {
            "loggedIn": false
          }
        }
      ]
    }
  ],
  "pageInstanceID": "s7connect:publish:content:luma:us:en",
  "language": "en"
};
window.digitalData.page.pageInfo.referringURL = document.referrer;
window.digitalData.page.pageInfo.sysEnv = navigator.userAgent;
</script>
</meta>

 <!-- Launch Header Code -->
<script>
  !function(e,a,n,t){var i=e.head;if(i){
  if (a) return;
  var o=e.createElement("style");
  o.id="alloy-prehiding",o.innerText=n,i.appendChild(o),setTimeout(function(){o.parentNode&&o.parentNode.removeChild(o)},t)}}
  (document, document.location.href.indexOf("mboxEdit") !== -1, ".body { opacity: 0 !important }", 3000);
</script>



<script src="https://assets.adobedtm.com/b5cbd1a1220e/ea6e233f02d3/launch-2a4bf74510f3.min.js" async></script>



    
    
    

    

    
    
    

    
    
</head>
    <body class="page basicpage" id="page-702890ad52">
        
        
        
            




            



            
<div class="container">
    <div class="root responsivegrid">


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="header aem-GridColumn aem-GridColumn--default--12">
<div id="top" class="we-retail-header" data-we-header-content="/content/luma/us/en.header_include.html">
    
<div class="navbar navbar-inverse navbar-fixed-top hidden-xs hidden-sm">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">

	<!--
            <li><a href="#" data-toggle="modal" data-target=".we-LanguageModal" title="Luma: An Adobe demo brand"><i class="we-lang-icon we-lang-icon-US"></i> en</a></li>
-->
</ul>
        <ul class="nav navbar-nav navbar-right">
            
            <li>
<div class="we-Cart">


    <a class="we-Cart-button" href="#" v-on:click="toggle">
        <i class="fa fa-shopping-cart"></i>&nbsp My cart &nbsp <span class="badge active" v-cloak v-if="cartEntriesSize > 0">{{cartEntriesSize}}</span>
    </a>

    <cart-content inline-template>
        <div class="we-Cart-content" itemtype="http://localhost:8080/apps/public/weretail/hapi_types/cart.html" itemscope="itemscope">
            <div class="we-Cart-header">
                <div class="we-Cart-headerLeft">
                    <a href="#" v-on:click="$parent.toggle">
                        <i class="we-Icon we-Icon--close"></i>
                    </a>
                </div>
                <div class="we-Cart-headerRight">
                    <span itemprop="totalEntries" itemtype="http://localhost:8080/libs/sling/hapi/types/number.html" itemscope="itemscope">{{cartEntriesSize}}</span> items in cart
                </div>
            </div>

            <div class="we-Cart-empty" v-if="cartEntriesSize == 0">The cart is empty.</div>

            <div class="we-Cart-data">

                <div class="we-Cart-entries" v-if="cartEntriesSize > 0">
                    <div class="we-Cart-entry" v-for="(index, cartEntry) in cartEntries" itemprop="entries" itemtype="http://localhost:8080/apps/public/weretail/hapi_types/cartentry.html" itemscope="itemscope">

                        <img class="we-Cart-image" v-bind:src="cartEntry.thumbnail" alt="{{ cartEntry.title }}" itemprop="asset" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope"/>

                        <div class="we-Cart-entryContent">
                            <div itemprop="product" itemtype="http://localhost:8080/apps/public/weretail/hapi_types/product.html" itemscope="itemscope">
                                <meta content="{{ cartEntry.title }}" itemprop="name" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope"/>
                                <a href="#" v-bind:href="cartEntry.page" itemprop="path" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">
                                    <strong>{{ cartEntry.title }}</strong>
                                </a>
                                <div class="text-muted">
                                    <small v-if="cartEntryPromotions(index) && cartEntryPromotions(index).length > 0">
                                        <span class="text-info" v-for="promotion in cartEntryPromotions(index)" v-html="promotion.message"></span>
                                    </small>
                                    <small itemprop="description" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">
                                        {{ cartEntry.description }}
                                    </small>
                                    <ul v-if="cartEntry.variant" class="small we-Cart-entryVariants">
                                        <li v-for="(key, val) in cartEntry.variant">
                                            <span>{{ key }}</span>: {{ val }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="we-Cart-entryQuantity">
                                <label class="text-muted">Qty:</label>
                                
                                
                                
                                <span v-if="cartEntry.readonly == true" itemprop="quantity" itemtype="http://localhost:8080/libs/sling/hapi/types/number.html" itemscope="itemscope">{{ cartEntry.quantity }}</span>
                                
                                <form method="POST" action="/content/luma/us/en.weretail.modifycartentry.html" v-if="cartEntry.readonly != true">
                                    <input type="hidden" name="entryNumber" value="{{index}}"/>
                                    <input type="hidden" name="redirect" value="/content/luma/us/en.html"/>
                                    <input type="number" name="quantity" v-model="cartEntry.quantity" min="0" step="1" v-on:change.prevent="updateCart" itemprop="quantity" itemtype="http://localhost:8080/libs/sling/hapi/types/number.html" itemscope="itemscope"/>
                                </form>
                            </div>
                            <div class="we-Cart-entryPrice" itemprop="itemPrice" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">
                                <strong>{{ cartEntry.priceFormatted }}</strong>
                            </div>
                        </div>

                        <div class="we-Cart-remove">
                            <form method="POST" action="/content/luma/us/en.weretail.deletecartentry.html" v-on:click.prevent="updateCart" v-if="cartEntry.readonly != true">
                                <input type="hidden" name="entryNumber" value="{{index}}"/>
                                <input type="hidden" name="redirect" value="/content/luma/us/en.html"/>
                                <button type="submit" class="btn btn-default btn-icon"><i class="text-muted fa fa-times-circle-o"></i></button>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="we-Cart-promotions" v-if="orderPromotions && orderPromotions.length > 0">
                    <span v-for="promotion in orderPromotions" class="we-Cart-promotion" v-html="promotion.message"></span>
                </div>

                <div class="we-Cart-footer">
                    <div class="we-Cart-subtotal" v-if="cartEntriesSize > 0">
                        sub-total: <span itemprop="total" itemtype="http://localhost:8080/libs/sling/hapi/types/text.html" itemscope="itemscope">{{cartTotalPrice}}</span>
                    </div>
                    <a v-if="cartEntriesSize > 0" class="btn btn-primary btn-action pull-right" href="/content/luma/us/en/user/cart.html">Checkout</a>
                </div>

            </div>
        </div>
    </cart-content>
</div>
</li>
            
            <li><a href="/content/luma/us/en/community/signin.html">Login</a></li>
            
        </ul>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-inverse navbar-absolute-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#we-example-navbar-collapse-inverse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>

            <button type="button" class="navbar-toggle navbar-toggle-close collapsed" data-toggle="collapse" data-target="#we-example-navbar-collapse-inverse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="we-Icon we-Icon--close"></i>
            </button>

            <a class="navbar-brand" href="/content/luma/us/en.html"> <img src="/content/dam/luma/en/logos/Luma_Logo.png"/>
<!--
<strong>LUMA</strong>
-->

</a>
            <div class="pull-right visible-xs visible-sm">
<div class="we-Cart">
    <a class="we-Cart-button" href="#" v-on:click="toggle" style="color:#1979c3; font-size: 20px; ">
        <i class="fa fa-shopping-cart"></i> &nbsp <span class="badge active" v-cloak v-if="cartEntriesSize > 0">{{cartEntriesSize}}</span>
    </a>
</div></div>
        </div>

        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse width" id="we-example-navbar-collapse-inverse">
            <ul class="nav navbar-nav navbar-center">
                <li class="visible-xs visible-sm"><a href="/content/luma/us/en.html" style="font-size:24px;"><strong class="text-primary">Luma Mobile Menu</strong></a></li>
                <div class="we-navigation">
<nav id="navigation-fd3cee8df8" class="cmp-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/experience.html" class="cmp-navigation__item-link">Blog</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/experience/beginners-luck.html" class="cmp-navigation__item-link">Beginners Luck</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/experience/warming-up.html" class="cmp-navigation__item-link">Warming Up</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/experience/keep-moving.html" class="cmp-navigation__item-link">Keep Moving</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/men.html" class="cmp-navigation__item-link">Men</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/women.html" class="cmp-navigation__item-link">Women</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/equipment.html" class="cmp-navigation__item-link">Equipment</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/about-us.html" class="cmp-navigation__item-link">About Us</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/about-us/contact-luma.html" class="cmp-navigation__item-link">Contact Luma</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/about-us/customer-service.html" class="cmp-navigation__item-link">Customer Service</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/about-us/privacy-policy.html" class="cmp-navigation__item-link">Luma Privacy Policy</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/products.html" class="cmp-navigation__item-link">Products</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/products/women.html" class="cmp-navigation__item-link">Women</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/products/men.html" class="cmp-navigation__item-link">Men</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/products/gear.html" class="cmp-navigation__item-link">Gear</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/community.html" class="cmp-navigation__item-link">Community</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/trending.html" class="cmp-navigation__item-link">Trending</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/forum.html" class="cmp-navigation__item-link">Forum</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/files.html" class="cmp-navigation__item-link">Files</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/catalog.html" class="cmp-navigation__item-link">Catalog</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/assignments.html" class="cmp-navigation__item-link">Assignments</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/blog.html" class="cmp-navigation__item-link">Blog</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/questions.html" class="cmp-navigation__item-link">Questions</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/ideas.html" class="cmp-navigation__item-link">Ideas</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/calendar.html" class="cmp-navigation__item-link">Calendar</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/groups.html" class="cmp-navigation__item-link">Groups</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/luma/us/en/community/members.html" class="cmp-navigation__item-link">Members</a>

        
    </li>

    </ul>

    </li>

    </ul>
</nav>

    

</div>
                <li class="visible-xs visible-sm divider" role="separator"></li>
                <li class="visible-xs visible-sm"><a href="/content/luma/us/en/community/signin.html" style="color: #1979c3 !important;">Login</a></li>
                
                
                
                
                
                <li class="visible-xs visible-sm"><a href="#" data-toggle="modal" data-target=".we-LanguageModal"><i class="we-lang-icon we-lang-icon-US"></i> en</a></li>
            </ul>
        </div>

        <!-- /.navbar-collapse 

        <div class="navbar-right-outside">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#navbar-search">
                <span class="sr-only">Search</span><i class="we-Icon we-Icon--search" aria-hidden="true"></i>
            </a>
        </div>
-->
        <!-- /.navbar-right-outside -->

        <span class="navbar-shutter"></span>
    </nav>
    <!-- /.navbar -->
</div>

    

<div class="we-SearchModal modal fade " id="navbar-search" role="dialog" data-color="primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span><i class="we-Icon we-Icon--search"></i>Search anything</span>
                <button type="button" class="close" data-dismiss="modal"><span>Close search</span><i class="we-Icon we-Icon--close-alt"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="we-search">
<section id="search-26728993de" class="cmp-search" role="search" data-cmp-is="search" data-cmp-min-length="3" data-cmp-results-size="10">
    <form class="cmp-search__form" data-cmp-hook-search="form" method="get" action="/content/luma/us/en.searchresults.json/_jcr_content/root/header/search" autocomplete="off">
        <div class="cmp-search__field">
            <i class="cmp-search__icon" data-cmp-hook-search="icon"></i>
            <span class="cmp-search__loading-indicator" data-cmp-hook-search="loadingIndicator"></span>
            <input class="cmp-search__input" data-cmp-hook-search="input" type="text" name="fulltext" placeholder="Search" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-invalid="false" aria-expanded="false"/>
            <button class="cmp-search__clear" data-cmp-hook-search="clear" aria-label="Clear">
                <i class="cmp-search__clear-icon"></i>
            </button>
        </div>
    </form>
    <div class="cmp-search__results" aria-label="Search results" data-cmp-hook-search="results" role="listbox" aria-multiselectable="false"></div>
    
<script data-cmp-hook-search="itemTemplate" type="x-template">
    <a class="cmp-search__item" data-cmp-hook-search="item" role="option" aria-selected="false">
        <span class="cmp-search__item-title" data-cmp-hook-search="itemTitle"></span>
    </a>
</script>

</section>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.we-SearchModal -->

<div class="we-LanguageModal modal fade" tabindex="-1" role="dialog" data-color="primary">
    <div class="modal-dialog modal-center modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">CHOOSE YOUR COUNTRY</h3>
            </div>
            <div class="modal-body">
                <div class="we-languagenavigation">
<nav id="languagenavigation-3bc2bcfd43" class="cmp-languagenavigation">
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-US" title="United States"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/us/en.html" hreflang="en-US" lang="en-US" rel="alternate" title="English">English</a>

        
    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-es-US cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/us/es.html" hreflang="es-US" lang="es-US" rel="alternate" title="Español">Español</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-en-CA cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-CA" title="Canada"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-en-CA cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ca/en.html" hreflang="en-CA" lang="en-CA" rel="alternate" title="English">English</a>

        
    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-fr-CA cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ca/fr.html" hreflang="fr-CA" lang="fr-CA" rel="alternate" title="Français">Français</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-de-CH cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-CH" title="Switzerland"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-de-CH cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ch/de.html" hreflang="de-CH" lang="de-CH" rel="alternate" title="Deutsch">Deutsch</a>

        
    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-fr-CH cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ch/fr.html" hreflang="fr-CH" lang="fr-CH" rel="alternate" title="Français">Français</a>

        
    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-it-CH cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ch/it.html" hreflang="it-CH" lang="it-CH" rel="alternate" title="Italiano">Italiano</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-DE" title="Germany"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/de/de.html" hreflang="de-DE" lang="de-DE" rel="alternate" title="Deutsch">Deutsch</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-FR" title="France"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/fr/fr.html" hreflang="fr-FR" lang="fr-FR" rel="alternate" title="Français">Français</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-ES" title="Spain"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/es/es.html" hreflang="es-ES" lang="es-ES" rel="alternate" title="Español">Español</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-IT cmp-languagenavigation__item--langcode-it-IT cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-IT" title="Italy"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-IT cmp-languagenavigation__item--langcode-it-IT cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/it/it.html" hreflang="it-IT" lang="it-IT" rel="alternate" title="Italiano">Italiano</a>

        
    </li>

    </ul>

    </li>

    </ul>
</nav>

    

</div>

            </div>
        </div>
        <div class="modal-after">
            <a href="#" data-dismiss="modal"><i class="we-Icon we-Icon--close-alt"></i> Close</a>
        </div>
    </div>
</div><!-- /.we-LanguageModal -->

</div>
</div>
<div class="heroimage cmp-image aem-GridColumn aem-GridColumn--default--12">

    <div class="we-HeroImage jumbotron" style="background-image: url('/content/luma/us/en/_jcr_content/root/hero_image.coreimg.jpeg');">
        <div class="container cq-dd-image">
            <div class="we-HeroImage-wrapper">
                <p class="h3">New Luma Yoga Collection</p>
                <strong class="we-HeroImage-title h1">Get fit and look FAB in our new seasonal collections</strong>

                <p>
                    <a class="btn btn-primary btn-action" href="/content/luma/us/en/products.html" role="button">Shop Now</a>
                </p>
            </div>
        </div>
    </div>

</div>
<div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="title aem-GridColumn aem-GridColumn--default--12">
<div id="title-cc2d10048f" class="cmp-title">
    <h2 class="cmp-title__text">Discover the Finest in Yoga Fashion from Luma</h2>
</div>

    

</div>
<div class="categoryteaser image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<div class="we-CategoryTeaser">
    <div class="crop crop-16_9 cmp cmp-image">
<div data-cmp-is="image" data-cmp-lazythreshold="0" data-cmp-src="/content/luma/us/en/_jcr_content/root/responsivegrid/categoryteaser_copy.coreimg{.width}.png" id="categoryteaserimage-37825602b3" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    
        
            
            <img src="/content/luma/us/en/_jcr_content/root/responsivegrid/categoryteaser_copy.coreimg.png" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt/>
            
        
    
    
    
</div>

    

</div>

    <h2>View our Women&#39;s Catalog</h2>
    <h3></h3>
    
    <a href="/content/luma/us/en/products/women.html" class="btn btn-action btn-primary">WOMEN</a>
</div>
</div>
<div class="categoryteaser image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<div class="we-CategoryTeaser">
    <div class="crop crop-16_9 cmp cmp-image">
<div data-cmp-is="image" data-cmp-lazythreshold="0" data-cmp-src="/content/luma/us/en/_jcr_content/root/responsivegrid/categoryteaser_copy_1774714788.coreimg{.width}.jpeg" id="categoryteaserimage-5e598f8086" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    
        
            
            <img src="/content/luma/us/en/_jcr_content/root/responsivegrid/categoryteaser_copy_1774714788.coreimg.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt/>
            
        
    
    
    
</div>

    

</div>

    <h2>View our Men&#39;s catalog</h2>
    <h3></h3>
    
    <a href="/content/luma/us/en/products/men.html" class="btn btn-action btn-primary">Men</a>
</div>
</div>
<div class="categoryteaser image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<div class="we-CategoryTeaser">
    <div class="crop crop-16_9 cmp cmp-image">
<div data-cmp-is="image" data-cmp-lazythreshold="0" data-cmp-src="/content/luma/us/en/_jcr_content/root/responsivegrid/categoryteaser.coreimg{.width}.jpeg" id="categoryteaserimage-8362db3630" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    
        
            
            <img src="/content/luma/us/en/_jcr_content/root/responsivegrid/categoryteaser.coreimg.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt/>
            
        
    
    
    
</div>

    

</div>

    <h2>View all our best gear</h2>
    <h3></h3>
    
    <a href="/content/luma/us/en/products/gear.html" class="btn btn-action btn-primary">Equipment</a>
</div>
</div>
<div class="sitefeature aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<div class="text-center we-SiteFeature">
    <i class="we-Icon we-Icon--shoping-cart-alt"></i>
    <h4 class="we-SiteFeature-header">
        Free delivery
        <small>And free return</small>
    </h4>
</div></div>
<div class="sitefeature aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<div class="text-center we-SiteFeature">
    <i class="we-Icon we-Icon--compass"></i>
    <h4 class="we-SiteFeature-header">
        Order tracking
        <small>Worldwide shipping</small>
    </h4>
</div></div>
<div class="sitefeature aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<div class="text-center we-SiteFeature">
    <i class="we-Icon we-Icon--headphones"></i>
    <h4 class="we-SiteFeature-header">
        Online support
        <small>With our outdoor specialist</small>
    </h4>
</div></div>
<div class="title aem-GridColumn aem-GridColumn--default--12">
<div id="title-e27d6eac7d" class="cmp-title">
    <h2 class="cmp-title__text">Featured Products</h2>
</div>

    

</div>
<div class="we-productgrid aem-GridColumn aem-GridColumn--default--12">
<div class="we-product-grid-container">
    <ul class="foundation-ordered-list-container">
        
<li class="foundation-list-item">
    <we-product-item price="$22.00" inline-template>
        <div class="we-ProductsGrid-item">
            <div class="we-ProductsGrid-item-image img-center" style="padding-top:24px;">
                <div id="cq-image-jsp-/content/luma/us/en/products/gear/fitness/harmony-lumaflex-strength-band-kit/jcr:content/root/product/assets/asset"><img src="/content/luma/us/en/products/gear/fitness/harmony-lumaflex-strength-band-kit/_jcr_content/root/product/assets/asset.img.jpg/libs/settings/wcm/designs/default/-/page/root/responsivegrid/productgrid/item/asset/cq_ck_1690472095641.jpg" alt="ug03-bk-0" title="ug03-bk-0" class="cq-dd-image"></div>


<script type="text/javascript">
    (function() {
        var imageDiv = document.getElementById("cq\u002Dimage\u002Djsp\u002D\/content\/luma\/us\/en\/products\/gear\/fitness\/harmony\u002Dlumaflex\u002Dstrength\u002Dband\u002Dkit\/jcr:content\/root\/product\/assets\/asset");
        var imageEvars = '{ imageLink: "", imageAsset: "/content/dam/luma/en/products/gear/fitness-equipment/ug03-bk-0.jpg", imageTitle: "ug03\u002Dbk\u002D0" }';
        var tagNodes = imageDiv.getElementsByTagName('A');
        for (var i = 0; i < tagNodes.length; i++) {
            var link = tagNodes.item(i); 
            link.setAttribute('onclick', 'CQ_Analytics.record({event: "imageClick", values: ' + imageEvars + ', collect: false, options: { obj: this }, componentPath: "commerce\/components\/product\/image"})');
        }
        
    })();
</script>


            </div>

            <h3 class="we-ProductsGrid-item-title h4">Harmony Lumaflex™ Strength Band Kit</h3>


<!--
            <span class="we-ProductsGrid-item-subtitle small text-muted"></span>
-->

            <strong class="we-ProductsGrid-item-price">
                <span>$22.00</span>
                <span class="we-ProductsGrid-item-price-new"></span>
                <s class="we-ProductsGrid-item-price-old"></s>
            </strong>

            <span class="we-ProductsGrid-item-discount hidden"><span></span>off</span>
            <a href="/content/luma/us/en/products/gear/fitness/harmony-lumaflex-strength-band-kit.html" class="we-ProductsGrid-item-link"></a>

        </div>
        <!-- /.we-ProductsGrid-item -->
    </we-product-item>
</li>
    
        
<li class="foundation-list-item">
    <we-product-item price="$65.60" color="red,green,blue" size="33,34,36,32" inline-template>
        <div class="we-ProductsGrid-item">
            <div class="we-ProductsGrid-item-image img-center" style="padding-top:24px;">
                <div id="cq-image-jsp-/content/luma/us/en/products/men/bottoms/pants/zeppelin-yoga-pant/jcr:content/root/product/assets/asset"><img src="/content/luma/us/en/products/men/bottoms/pants/zeppelin-yoga-pant/_jcr_content/root/product/assets/asset.img.jpg/libs/settings/wcm/designs/default/-/page/root/responsivegrid/productgrid/item/asset/cq_ck_1690472108552.jpg" alt="mp08-green_main" title="mp08-green_main" class="cq-dd-image"></div>


<script type="text/javascript">
    (function() {
        var imageDiv = document.getElementById("cq\u002Dimage\u002Djsp\u002D\/content\/luma\/us\/en\/products\/men\/bottoms\/pants\/zeppelin\u002Dyoga\u002Dpant\/jcr:content\/root\/product\/assets\/asset");
        var imageEvars = '{ imageLink: "", imageAsset: "/content/dam/luma/en/products/men/bottoms/pants/mp08-green_main.jpg", imageTitle: "mp08\u002Dgreen_main" }';
        var tagNodes = imageDiv.getElementsByTagName('A');
        for (var i = 0; i < tagNodes.length; i++) {
            var link = tagNodes.item(i); 
            link.setAttribute('onclick', 'CQ_Analytics.record({event: "imageClick", values: ' + imageEvars + ', collect: false, options: { obj: this }, componentPath: "commerce\/components\/product\/image"})');
        }
        
    })();
</script>


            </div>

            <h3 class="we-ProductsGrid-item-title h4">Zeppelin Yoga Pant</h3>


<!--
            <span class="we-ProductsGrid-item-subtitle small text-muted"></span>
-->

            <strong class="we-ProductsGrid-item-price">
                <span>$65.60</span>
                <span class="we-ProductsGrid-item-price-new"></span>
                <s class="we-ProductsGrid-item-price-old"></s>
            </strong>

            <span class="we-ProductsGrid-item-discount hidden"><span></span>off</span>
            <a href="/content/luma/us/en/products/men/bottoms/pants/zeppelin-yoga-pant.html" class="we-ProductsGrid-item-link"></a>

        </div>
        <!-- /.we-ProductsGrid-item -->
    </we-product-item>
</li>
    
        
<li class="foundation-list-item">
    <we-product-item price="$57.00" color="red,green,purple" size="S,XL,XS,L,M" inline-template>
        <div class="we-ProductsGrid-item">
            <div class="we-ProductsGrid-item-image img-center" style="padding-top:24px;">
                <div id="cq-image-jsp-/content/luma/us/en/products/women/tops/hoodies/autumn-pullie/jcr:content/root/product/assets/asset"><img src="/content/luma/us/en/products/women/tops/hoodies/autumn-pullie/_jcr_content/root/product/assets/asset.img.jpg/libs/settings/wcm/designs/default/-/page/root/responsivegrid/productgrid/item/asset/cq_ck_1690472117696.jpg" alt="wh03-red_main" title="wh03-red_main" class="cq-dd-image"></div>


<script type="text/javascript">
    (function() {
        var imageDiv = document.getElementById("cq\u002Dimage\u002Djsp\u002D\/content\/luma\/us\/en\/products\/women\/tops\/hoodies\/autumn\u002Dpullie\/jcr:content\/root\/product\/assets\/asset");
        var imageEvars = '{ imageLink: "", imageAsset: "/content/dam/luma/en/products/women/tops/hoodies-&-sweatshirts/wh03-red_main.jpg", imageTitle: "wh03\u002Dred_main" }';
        var tagNodes = imageDiv.getElementsByTagName('A');
        for (var i = 0; i < tagNodes.length; i++) {
            var link = tagNodes.item(i); 
            link.setAttribute('onclick', 'CQ_Analytics.record({event: "imageClick", values: ' + imageEvars + ', collect: false, options: { obj: this }, componentPath: "commerce\/components\/product\/image"})');
        }
        
    })();
</script>


            </div>

            <h3 class="we-ProductsGrid-item-title h4">Autumn Pullie</h3>


<!--
            <span class="we-ProductsGrid-item-subtitle small text-muted"></span>
-->

            <strong class="we-ProductsGrid-item-price">
                <span>$57.00</span>
                <span class="we-ProductsGrid-item-price-new"></span>
                <s class="we-ProductsGrid-item-price-old"></s>
            </strong>

            <span class="we-ProductsGrid-item-discount hidden"><span></span>off</span>
            <a href="/content/luma/us/en/products/women/tops/hoodies/autumn-pullie.html" class="we-ProductsGrid-item-link"></a>

        </div>
        <!-- /.we-ProductsGrid-item -->
    </we-product-item>
</li>
    
        
<li class="foundation-list-item">
    <we-product-item price="$24.00" color="red,blue,black" size="S,XL,L,M" inline-template>
        <div class="we-ProductsGrid-item">
            <div class="we-ProductsGrid-item-image img-center" style="padding-top:24px;">
                <div id="cq-image-jsp-/content/luma/us/en/products/men/tops/tees/logan-heattec_-tee/jcr:content/root/product/assets/asset"><img src="/content/luma/us/en/products/men/tops/tees/logan-heattec_-tee/_jcr_content/root/product/assets/asset.img.jpg/libs/settings/wcm/designs/default/-/page/root/responsivegrid/productgrid/item/asset/cq_ck_1690472097278.jpg" alt="ms10-blue_main" title="ms10-blue_main" class="cq-dd-image"></div>


<script type="text/javascript">
    (function() {
        var imageDiv = document.getElementById("cq\u002Dimage\u002Djsp\u002D\/content\/luma\/us\/en\/products\/men\/tops\/tees\/logan\u002Dheattec_\u002Dtee\/jcr:content\/root\/product\/assets\/asset");
        var imageEvars = '{ imageLink: "", imageAsset: "/content/dam/luma/en/products/men/tops/tees/ms10-blue_main.jpg", imageTitle: "ms10\u002Dblue_main" }';
        var tagNodes = imageDiv.getElementsByTagName('A');
        for (var i = 0; i < tagNodes.length; i++) {
            var link = tagNodes.item(i); 
            link.setAttribute('onclick', 'CQ_Analytics.record({event: "imageClick", values: ' + imageEvars + ', collect: false, options: { obj: this }, componentPath: "commerce\/components\/product\/image"})');
        }
        
    })();
</script>


            </div>

            <h3 class="we-ProductsGrid-item-title h4">Logan HeatTec® Tee</h3>


<!--
            <span class="we-ProductsGrid-item-subtitle small text-muted"></span>
-->

            <strong class="we-ProductsGrid-item-price">
                <span>$24.00</span>
                <span class="we-ProductsGrid-item-price-new"></span>
                <s class="we-ProductsGrid-item-price-old"></s>
            </strong>

            <span class="we-ProductsGrid-item-discount hidden"><span></span>off</span>
            <a href="/content/luma/us/en/products/men/tops/tees/logan-heattec_-tee.html" class="we-ProductsGrid-item-link"></a>

        </div>
        <!-- /.we-ProductsGrid-item -->
    </we-product-item>
</li>
    
        
<li class="foundation-list-item">
    <we-product-item price="$69.00" color="orange,yellow,black" size="S,XS,L,M" inline-template>
        <div class="we-ProductsGrid-item">
            <div class="we-ProductsGrid-item-image img-center" style="padding-top:24px;">
                <div id="cq-image-jsp-/content/luma/us/en/products/women/tops/jackets/nadia-elements-shell/jcr:content/root/product/assets/asset"><img src="/content/luma/us/en/products/women/tops/jackets/nadia-elements-shell/_jcr_content/root/product/assets/asset.img.jpg/libs/settings/wcm/designs/default/-/page/root/responsivegrid/productgrid/item/asset/cq_ck_1690472119676.jpg" alt="wj10-yellow_main" title="wj10-yellow_main" class="cq-dd-image"></div>


<script type="text/javascript">
    (function() {
        var imageDiv = document.getElementById("cq\u002Dimage\u002Djsp\u002D\/content\/luma\/us\/en\/products\/women\/tops\/jackets\/nadia\u002Delements\u002Dshell\/jcr:content\/root\/product\/assets\/asset");
        var imageEvars = '{ imageLink: "", imageAsset: "/content/dam/luma/en/products/women/tops/jackets/wj10-yellow_main.jpg", imageTitle: "wj10\u002Dyellow_main" }';
        var tagNodes = imageDiv.getElementsByTagName('A');
        for (var i = 0; i < tagNodes.length; i++) {
            var link = tagNodes.item(i); 
            link.setAttribute('onclick', 'CQ_Analytics.record({event: "imageClick", values: ' + imageEvars + ', collect: false, options: { obj: this }, componentPath: "commerce\/components\/product\/image"})');
        }
        
    })();
</script>


            </div>

            <h3 class="we-ProductsGrid-item-title h4">Nadia Elements Shell</h3>


<!--
            <span class="we-ProductsGrid-item-subtitle small text-muted"></span>
-->

            <strong class="we-ProductsGrid-item-price">
                <span>$69.00</span>
                <span class="we-ProductsGrid-item-price-new"></span>
                <s class="we-ProductsGrid-item-price-old"></s>
            </strong>

            <span class="we-ProductsGrid-item-discount hidden"><span></span>off</span>
            <a href="/content/luma/us/en/products/women/tops/jackets/nadia-elements-shell.html" class="we-ProductsGrid-item-link"></a>

        </div>
        <!-- /.we-ProductsGrid-item -->
    </we-product-item>
</li>
    
        
<li class="foundation-list-item">
    <we-product-item price="$62.00" color="red,blue,black" size="S,XL,L,M" inline-template>
        <div class="we-ProductsGrid-item">
            <div class="we-ProductsGrid-item-image img-center" style="padding-top:24px;">
                <div id="cq-image-jsp-/content/luma/us/en/products/men/tops/hoodies_sweatshirts/mach-street-sweatshirt/jcr:content/root/product/assets/asset"><img src="/content/luma/us/en/products/men/tops/hoodies_sweatshirts/mach-street-sweatshirt/_jcr_content/root/product/assets/asset.img.jpg/libs/settings/wcm/designs/default/-/page/root/responsivegrid/productgrid/item/asset/cq_ck_1690472100307.jpg" alt="mh10-blue_main" title="mh10-blue_main" class="cq-dd-image"></div>


<script type="text/javascript">
    (function() {
        var imageDiv = document.getElementById("cq\u002Dimage\u002Djsp\u002D\/content\/luma\/us\/en\/products\/men\/tops\/hoodies_sweatshirts\/mach\u002Dstreet\u002Dsweatshirt\/jcr:content\/root\/product\/assets\/asset");
        var imageEvars = '{ imageLink: "", imageAsset: "/content/dam/luma/en/products/men/tops/hoodies-&-sweatshirts/mh10-blue_main.jpg", imageTitle: "mh10\u002Dblue_main" }';
        var tagNodes = imageDiv.getElementsByTagName('A');
        for (var i = 0; i < tagNodes.length; i++) {
            var link = tagNodes.item(i); 
            link.setAttribute('onclick', 'CQ_Analytics.record({event: "imageClick", values: ' + imageEvars + ', collect: false, options: { obj: this }, componentPath: "commerce\/components\/product\/image"})');
        }
        
    })();
</script>


            </div>

            <h3 class="we-ProductsGrid-item-title h4">Mach Street Sweatshirt</h3>


<!--
            <span class="we-ProductsGrid-item-subtitle small text-muted"></span>
-->

            <strong class="we-ProductsGrid-item-price">
                <span>$62.00</span>
                <span class="we-ProductsGrid-item-price-new"></span>
                <s class="we-ProductsGrid-item-price-old"></s>
            </strong>

            <span class="we-ProductsGrid-item-discount hidden"><span></span>off</span>
            <a href="/content/luma/us/en/products/men/tops/hoodies_sweatshirts/mach-street-sweatshirt.html" class="we-ProductsGrid-item-link"></a>

        </div>
        <!-- /.we-ProductsGrid-item -->
    </we-product-item>
</li>
    </ul>
</div>

    

</div>
<div class="title aem-GridColumn aem-GridColumn--default--12">
<div id="title-291947467f" class="cmp-title">
    <h2 class="cmp-title__text">Our Top Blog Stories</h2>
</div>

    

</div>
<div class="we-list we-list--grid we-list--teaser we-list--image aem-GridColumn aem-GridColumn--default--12">
<ul class="cmp-list">
    <li class="cmp-list__item">
    <article>
        <a class="cmp-list__item-link" href="/content/luma/us/en/experience/beginners-luck.html">
            
<div data-cmp-is="image" data-cmp-lazythreshold="0" data-cmp-src="/content/luma/us/en/experience/beginners-luck/_jcr_content/root/hero_image.coreimg{.width}.jpeg" id="image-c258359522" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    
        
            
            <img src="/content/luma/us/en/experience/beginners-luck/_jcr_content/root/hero_image.coreimg.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt/>
            
        
    
    
    
</div>

    


            <span class="cmp-list__item-title">Beginners Luck</span>
            <span class="cmp-list__item-date"></span>
        </a>
        <span class="cmp-list__item-description"></span>
    </article>
</li>

    <li class="cmp-list__item">
    <article>
        <a class="cmp-list__item-link" href="/content/luma/us/en/experience/warming-up.html">
            
<div data-cmp-is="image" data-cmp-lazythreshold="0" data-cmp-src="/content/luma/us/en/experience/warming-up/_jcr_content/root/hero_image.coreimg{.width}.jpeg" id="image-3bca0c1200" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    
        
            
            <img src="/content/luma/us/en/experience/warming-up/_jcr_content/root/hero_image.coreimg.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt/>
            
        
    
    
    
</div>

    


            <span class="cmp-list__item-title">Warming Up</span>
            <span class="cmp-list__item-date"></span>
        </a>
        <span class="cmp-list__item-description"></span>
    </article>
</li>

    <li class="cmp-list__item">
    <article>
        <a class="cmp-list__item-link" href="/content/luma/us/en/experience/keep-moving.html">
            
<div data-cmp-is="image" data-cmp-lazythreshold="0" data-cmp-src="/content/luma/us/en/experience/keep-moving/_jcr_content/root/hero_image.coreimg{.width}.jpeg" id="image-23bbd68974" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
    
        
            
            <img src="/content/luma/us/en/experience/keep-moving/_jcr_content/root/hero_image.coreimg.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt/>
            
        
    
    
    
</div>

    


            <span class="cmp-list__item-title">Keep Moving</span>
            <span class="cmp-list__item-date"></span>
        </a>
        <span class="cmp-list__item-description"></span>
    </article>
</li>
</ul>

    

</div>

    
</div>
</div>
<div class="footer aem-GridColumn aem-GridColumn--default--12">

    





    <footer class="we-Footer">
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <div class="we-Logo we-Logo--big">
                        <strong>LUMA</strong>
                    </div>
                </div>

                <div class="col-md-9 col-sm-12">
                    <div class="we-navigation">
<nav id="navigation-5310ba71b5" class="cmp-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/experience.html" class="cmp-navigation__item-link">Blog</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/men.html" class="cmp-navigation__item-link">Men</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/women.html" class="cmp-navigation__item-link">Women</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/equipment.html" class="cmp-navigation__item-link">Equipment</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/about-us.html" class="cmp-navigation__item-link">About Us</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/products.html" class="cmp-navigation__item-link">Products</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/luma/us/en/community.html" class="cmp-navigation__item-link">Community</a>

        
    </li>

    </ul>
</nav>

    

</div>

                </div>


            </div>

            <div class="row we-Footer-section we-Footer-section--sub">
                <div class="we-Footer-section-item">
                    <span class="text-uppercase text-muted">© 2023 All rights reserved By Adobe Inc.</span>
                </div>
                <div class="we-Footer-section-item">
                    <a href="#" class="text-uppercase text-muted">Terms of use &amp; privacy policy</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <a href="#top" class="btn btn-action btn-action-up btn-primary">Ride to the top</a>
                    </div>
                </div>
            </div>

        </div>
    </footer>

 <!-- Launch Footer Code -->



</div>

    
</div>
</div>

</div>

            
    
    

    
    
<script src="/etc.clientlibs/clientlibs/granite/jquery-ui.js"></script>
<script src="/etc.clientlibs/core/wcm/components/commons/site/clientlibs/utils.js"></script>
<script src="/etc.clientlibs/core/wcm/components/commons/site/clientlibs/imageDynamicMedia.js"></script>
<script src="/etc.clientlibs/core/wcm/components/search/v1/search/clientlibs/site.js"></script>
<script src="/etc.clientlibs/weretail/clientlibs/clientlib-base.js"></script>



    
    


    

    

    
    
    

            

        
    </body>
</html>
